@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    margin: 0px;
    padding: 0px;
   
}

header {
    height: 160px;
    width: 100%;
    background-color: #4D4D4D;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    flex-flow: column wrap;
}

.namee {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
    
}

.firstnamee {
    font-weight: bold;
}

.jobtitel {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
}

.maingrid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    
    border-color: black;
    /*justify-content: space-between;*/
    align-items: flex-start;
    justify-content: center;

}

.gridinsideflex {
    display: grid;
    grid-template-columns: 40%;
    align-items: flex-start;
    justify-items: center;

}


.gridinsideflex2 {
    display: grid;
    grid-template-columns: 60%;
    align-items: flex-start;
    justify-content: left;

}


.persoonlijk {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    width: 200px;
    align-items: flex-start;
   
}

.studies {
    font-family: 'Roboto', sans-serif;
    width: 600px;
    font-weight: bold;
    font-size: 25px;
    justify-content: left;
    color: #6CE0F1;
   
    align-items: flex-end;
    

}

.werk {
    font-family: 'Roboto', sans-serif;
    width: 600px;
    font-weight: bold;
    font-size: 25px;
    justify-content: left;
    color: #FB4485;
   

}



.voltijds {
    font-family: 'Roboto', sans-serif;
    width: 600px;
    font-weight: bold;
    font-size: 25px;
    justify-content: left;
    color:#FDA333;
    
}




.gegevens {
    
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: right;
    width: 200px;
    height: 12px;
    
}

.studiegegevens {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
    width: 600px;
    height: 14px;
    
    justify-content: space-between;
    
    
   
}


.flexxendgegevens {
    grid-row-start: 15;
    grid-row-end: 18;
   
    width: 200px;
    height: 0px;
}

.flexendstudiegegevens {
    width: 900px;
    

}

.locatie {
  
    text-align: right;
    
    color: #AAAAAA;
    
    justify-content: flex-end
   
}

.link {
    color: black;
    text-decoration: none;
    outline:none;
}